{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio</title>


    <style>
        .geral{
            background-color: black;
            }

        .botao{
            position: absolute; top:13%; left:80%
        }

        .alinhamento {
            text-align: center;
            
            position:relative;
            margin:0px;
          }
    </style>
</head>
<body class="geral">
    <div class="alinhamento">
        <img style="text-align: center;" src="https://i.ibb.co/tJs1W35/petisco.jpg" alt="cardapio_bebidas">
    </div>
    <div class="alinhamento">
        <img style="text-align: center;" src="https://i.ibb.co/2kPpsQ7/bebida.jpg" alt="cardapio_bebidas">
    </div>
</body>
</html>